body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  overflow-x: hidden; /* Убирает горизонтальную прокрутку */
}

header {
  background-color: #800020;
  color: #fff;
  text-align: center;
  padding: 0;
}

.header-title {
  background-color: #800020;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

.header-title h1 {
  margin: 0;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black;
}

.header-image {
  width: 100%;
  max-width: 100%; /* Ограничивает максимальную ширину изображения */
  margin-top: 20px;
  height: auto;
}

.language-dropdown {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.language-dropdown .flag {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-size: cover;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.language-dropdown .flag:hover {
  opacity: 0.7;
}

nav {
  text-align: center;
  background-color: #000;
  padding: 5px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #800020;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  box-sizing: border-box;
}

.highlighted {
  font-weight: bold;
  color: #800020;
  font-size: 2.5em; /* Устанавливаем размер шрифта для заголовка Контакты */
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #800020;
  color: #fff;
  margin-top: 30px;
}